{% extends "base.html" %}
{% block content %}
    <div class="card-deck">
        {% for post in posts %}
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.summary }}</p>
                    </div>

                    <div class="card-footer">
                        <h6 class="text-muted">{{ post.publish | date:'jS F Y' }}
                            |
                            <a href="{{ post.category.get_absolute_url }}">{{ post.category.name|title }}</a>
                            |
                            <a href="{{ post.get_absolute_url }}">Read More</a>
                        </h6>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    <hr>
    {% include "blog/pagination.html" with page=page_obj %}
{% endblock %}

